.list-of-recipes {
    background-color: $colorQuaternary;
}

.recipe-box {
    width: 100%;
    height: 350px;
    border-radius: 7px;
    margin: 30px 0;
    background-color: $colorQuaternary;



    .recipe-img,
    .recipe-content {
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipe-content {
        width: 100%;

        .content {
            height: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .recipe-ingredients {
                font-size: 1.2rem;
                width: 100%;
            }
        }

        .ingredients {
            font-weight: 600;
        }
    }

    .recipe-instruction {
        width: 100%;
    }
}


@media screen and (max-width:700px) {
    .container {
        height: auto;

        .recipe-box {
            height: 700px;

            .recipe-content,
            .content,
            .recipe-ingredients,
            .recipe-instruction {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                span {
                    text-align: center;
                }
            }
        }
    }
}
